.dex-bg-alert {
  background: #e31c3d;
}

.dex-action-card {
  margin-top: 2em;
}

.dex-action-card .gi {
  margin-left: -25px;
}

table.dex-state-inventory-table td, table.dex-state-inventory-table th {
  padding: 5px;
  text-align: center;
}

.sidebar-container {
	float: left;
	display: inline-block;
	height: 100vh;
	width: 15vw;
	text-align: center;
	margin-right: 20px;
	border-right: 1px solid #ddd;
	position: fixed;
}

#main-content-container {
	position: relative;
}

#main-content h1 {
	display: inline-block;
}

#main-content .create-btn {
	position: absolute;
	right: 0px;
  margin-top: 65px;
}

.usa-section.with-sidebar {
  width: 80vw;
  margin-left: 17%;
  position: relative;
}

.user-icon {
	color: #efefef;
	padding: 10px 17px;
	border-radius: 50%;
	background-color: #376092;
	display: inline-block;
	font-size: 2em;
	margin: 45px auto 10px;
}

.usa-sidenav-list span {
  border: none;
  color: #212121;
  display: block;
  font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
  line-height: 1;
  padding: 1rem 1rem 1rem 1.8rem;
}

.hidden {
	display: none;
}

#log-out-btn {
	cursor: pointer;
}

/* -- Sign In -- */
.sign-in-container {
	margin-top: 60px;
}

.dex-small {
  font-size: 0.8em;
}

/* -- Modal Styles -- */
.my-modals {
	padding: 0px 10% 20px;
	text-align: center;
}

.found-modal li {
	list-style-type: none;
}

/* -- Action Buttons -- */
.dex-action-button-show-true {
  visibility: visible;
  color: #eee;
}
.dex-action-button-show-false {
  visibility: hidden;
}

/* -- Tabs -- */
.tab {
	display: inline-block;
	margin-right: 10px;
}

.active-tab {
	border-radius: 3px;
	background-color: #376092;
	color: #efefef;
	padding: 5px;
}

table caption {
	text-align: left;
	cursor: pointer;
}

.tooltip-icon {
	background-color: #376092;
	color: #efefef;
	padding: 3px 8px;
	border-radius: 50%;
}

.urgent-icon {
	background-color: red;
	color: #efefef;
	padding: 3px 8px;
	border-radius: 50%;
}
