<div class="sidebar-container" ng-class="{'hidden': !showSidebar}">
  <aside class="sidebar">
    <span class="user-icon">
      <i class="gi gi-user"></i>
    </span>
    <ul class="usa-sidenav-list">
      <li>
        <a ng-class="{'usa-current': currentPath.includes('actions')}" href="#/actions">Actions</a>
      </li>
      <li>
        <a ng-class="{'usa-current': currentPath == '/reports'}"  href="#/reports">Reports</a>
      </li>
      <li>
        <a ng-class="{'usa-current': currentPath == '/settings'}"  href="#/settings">Settings</a>
      </li>
      <li>
        <a class="logout-link" href="#/" id="log-out-btn">Log Out</a>
      </li>
    </ul>
  </aside>
</div>
