<div class="usa-grid">
	<div class="usa-width-two-thirds">
		<h1>{{pageTitle}}</h1>
		<p>This prototype was developed by Team STSI, comprised of STSI and 540.co.</p>
		<h3><i class="gi gi-user"></i> Signing In</h3>
		<p>The production application will leverage CMS's enterprise login capability. For the demo, you can simply pick a fake user from the right side to login as the user.</p>
		<h3><i class="gi gi-cog"></i> Technology</h3>
		<p>Although the prototype is not functionally complete, it is built on a real production stack. The frontend uses the US Web Design Standards and AngularJS. The backend uses Node/Express, PostgreSQL, and Elasticsearch - all deployed to Amazon Web Services.</p>
		<h3><i class="gi gi-code"></i> API Documentation</h3>
		<p>The system follows an "API-first" design. The same API we use internally to support the frontend user interface can be used by States to integrate with their own systems. We provide <a href="https://cmsdex-api.540.co/" target="_blank">interactive API documentation</a> to make it as easy as possible for internal or external developers.</p>

	</div>

	<div class="usa-width-one-third sign-in-container">
		<form>
		  <fieldset>
		    <legend class="usa-drop_text">Sign in</legend>

		    <label for="username">Username or email address</label>
		    <select name="username" id="username"
		            ng-options="user.fullname + ' (' + user.state.abbreviation + ')' for user in users  | orderBy: 'state.abbreviation' track by user.id"
		            ng-model="user"></select>
			
		    <label for="password">Password</label>
		    <input id="password" name="password" type="password">
		    <p class="usa-form-note">
		      <a title="Show password" href="#" class="usa-show_password" aria-controls="password">
		        Show password</a>
		    </p>
		    <a class="usa-button usa-button-primary login-btn" ng-click="signIn()">Submit</a>
		    <p><a href="#" title="Forgot password">
		      Forgot password?</a></p>
		  </fieldset>
		</form>

		<div class="usa-alert usa-alert-info ng-scope" ng-hide="providers.length > 0">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Demo Information</h3>
      <p class="usa-alert-text">Info boxes (like this one) throughout the site provide more context for the demo functionality.</p>
    </div>
		</div>
		
	</div>
</div>
