<div class="usa-grid">
	<div class="usa-width-seven-eighths">
		<h1>Create an Action</h1>
    <p>Use this form to create a new action. You can search for providers by NPI, name or address.</p>
	</div>
    <div class="usa-width-three-fourths">
      <form class="usa-search usa-search-big">
        <div role="search">
          <label for="search-npi">NPI</label>
          <input id="search-npi" type="search" name="search" ng-model="provider.npi">
          <button type="submit" ng-click="searchNPI(provider.npi)">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </form>
    </div>
    <div class="usa-width-three-fourths">
      <form class="usa-search usa-search-big">
        <div role="search">
          <label for="search-name">Provider Name</label>
          <input id="search-name" type="search" name="search" ng-model="provider.name">
          <button type="submit" ng-click="searchName(provider.name)">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </form>
    </div>
  </div>