<div class="usa-banner-content" id="main-content">
  <h1>{{ pageTitle }}</h1>
    <a class="usa-button usa-button-primary create-btn" href="#/create-action">Create new action</a>
</div>

<table class="usa-table-borderless" ng-show="adminActions.length > 0">
  <caption><h4>Work in Progress</h4></caption>
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Provider</th>
      <th scope="col">Date</th>
      <th scope="col">Source</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="action in adminActions | filter:'!published'">
      <td><a href="#/actions/{{action.id}}">
        <span class="usa-label">
          {{action.action_type}}
        </span></a>
      </td>
      <td><a href="#/providers/{{action.provider.id}}">{{ action.provider.name }}</a></td>
      <td>{{ action.created_timestamp | date:'MM/dd/yyyy' }}</td>
      <td>{{ action.state.name }}</td>
      <td>{{ action.status | unsnake | titlecase }}</td>
    </tr>
  </tbody>
</table>

<table class="usa-table-borderless" ng-show="stateActions.length > 0">
  <caption><h4>Need Response</h4></caption>
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Provider</th>
      <th scope="col">Date</th>
      <th scope="col">Source</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="action in stateActions">
      <td><a href="#/actions/{{action.id}}">
        <span class="usa-label">
          {{action.action_type}}
        </span></a>
      </td>
      <td><a href="#/providers/{{action.provider.id}}">{{ action.provider.name }}</a></td>
      <td>{{ action.created_timestamp | date:'MM/dd/yyyy' }}</td>
      <td>{{ action.practice_address.state }}</td>  <!-- This is wrong, but the state record is not provided by the endpoint -->
      <td>
        <div ng-hide=action.response> 
          <a class="usa-button usa-button-outline" ng-click="markFound(action.id)">Found</a>
          <a class="usa-button usa-button-outline" ng-click="markNotFound(action.id)">Not Found</a>
        </div>
        <span ng-show=action.response>{{action.response}}</span>
      </td>
    </tr>
  </tbody>
</table>