<div class="usa-grid">

  <div class="usa-width-two-thirds">
    <h2>{{pageTitle}} <small><span class="usa-label">{{action.action_type}}</span></small></h2>
  </div>
  <div class="usa-width-one-third" style="margin-top: 1.5em;">
      <div ng-hide=response>
        <a class="usa-button" ng-click="onNext(next)" ng-repeat="next in nexts"> 
          {{next | unsnake | titlecase }}
        </a>
      </div>
      <div ng-show=response> 
        <span disabled class="usa-button usa-button-gray usa-button-disabled dex-action-button-show-{{response==next}}" 
              ng-repeat="next in nexts"> 
          {{next | unsnake | titlecase }}
        </span>
      </div>
  </div>
</div>

<div class="usa-grid">
  <!-- Basic info & ACTIONS -->
  <div class="usa-width-one-half">

    <div class="usa-accordion">
      <ul class="usa-unstyled-list">
        <li>
          <button ng-click="log(action)" class="usa-button-unstyled" aria-expanded="true" aria-controls="provider">
            Provider: {{action.provider.name}}
          </button>
          <div id="provider" class="usa-accordion-content">
            <a ng-href="#/providers/{{action.provider.id}}">{{action.provider.name | titlecase}}</a> 
            <small ng-if="action.provider.type">({{action.provider.type | titlecase}})</small>
            <address dex-address="action.provider.mailing_address"></address>
          </div>
        </li>
        <li>
          <button class="usa-button-unstyled" aria-expanded="true" aria-controls="services">
            Services
          </button>
          <div id="services" class="usa-accordion-content">
            <span ng-repeat="service in action.provider.services">
              {{service}}
            </span> 
          </div>
        </li>
        <li>
          <button class="usa-button-unstyled" aria-expanded="true" aria-controls="source">
          Source: {{action.state.name}}
          </button>
          <div id="source" class="usa-accordion-content">
            {{action.status | unsnake | titlecase}}<br />
            Last Updated: {{action.lastupdated_timestamp | date : 'MM/dd/yyyy' }}
            <span ng-if="action.expiration_timestamp"><br />Expires: {{action.expiration_timestamp | date : 'MM/dd/yyyy' }}</span>
          </div>
        </li>
        <li>
          <button class="usa-button-unstyled" aria-expanded="true" aria-controls="reasons">
            Reasons
          </button>
          <div id="reasons" class="usa-accordion-content">
            <span ng-repeat="reason in action.reason">
              {{reason | titlecase}}
            </span>
          </div>
        </li>
        <li>
          <button class="usa-button-unstyled" aria-expanded="true" aria-controls="attachments">
            Attachments
          </button>
          <div id="attachments" class="usa-accordion-content">
            <div ng-repeat="attachment in action.attachments">
              <a ng-href="{{attachment.url}}">
                <i class="gi gi-file-text" style="font-size:3em;"></i>
                <br><span class="dex-small">{{attachment.filename}}</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>


  </div>

  <!-- INVENTORY -->
  <div class="usa-width-one-half">
    <div class="usa-accordion">
      <ul class="usa-unstyled-list">
        <li>
          <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-0">
            State Inventory Check
          </button>
          <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
            <table class="usa-table-borderless dex-state-inventory-table">
              <thead>
                <tr>
                  <th scope="col">State</th>
                  <th scope="col">Found</th>
                  <th scope="col">No Match</th>
                  <th scope="col">Not Responded</th>
                </tr>
                <tr>
                  <th>TOTALS</th>
                  <th>{{totals.found}}</th>
                  <th>{{totals.notFound}}</th>
                  <th>{{totals.notResponded}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="state in inventory | orderBy:'abbreviation'">
                  <th scope="row"><span title={{state.name}}>{{state.abbreviation}}</span></th>
                  <td><i class="gi gi-check-square-o" ng-show="state.status=='found'"></i></td>
                  <td><i class="gi gi-check-square-o" ng-show="state.status=='not-found'"></i></td>
                  <td><i class="gi gi-check-square-o" ng-show="state.status=='not-responded'"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
