
<div class="usa-grid">
  
  <!-- Provider Heading -->
  <div class="dex-provider-info">
    <h3>Provider: {{provider.name}} <small>({{provider.type | titlecase}})</small></h3>
    <div>NPI: {{provider.npi}}</div>
    <address dex-address="provider.mailing_address"></address>
  </div>

  <h3>Actions</h3>
  <table class="usa-table-borderless">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">Reasons</th>
        <th scope="col">Date</th>
        <th scope="col">Source</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="action in actions">
        <td><a href="#/actions/{{action.id}}">
          <span class="usa-label-big">
            {{action.action_type | unsnake}}
          </span></a></td>
        </td>
        <td><span ng-repeat="reason in action.reason">
          <span>{{reason | titlecase}}{{$last ? '' : ', '}}</span>
        </span></td>
        <td>{{ action.created_timestamp | date:'shortDate' }}</td>
        <td>{{ action.state.name }}</td>
        <td>
          <i class="gi gi-check" ng-show="action.status=='published'"></i>
          <i class="gi gi-file-text-o" ng-show="action.status=='under_review'"></i>
          {{ action.status | unsnake | titlecase }}
        </td>
      </tr>
    </tbody>
  </table>

</div>
