

<div class="usa-grid">

  <!-- Basic info & ACTIONS -->
  <div class="usa-width-two-thirds">

    <!-- Provider Heading -->
    <div class="dex-provider-info">
      <h3>Provider: {{provider.name}}</h3>
      <div>NPI: {{provider.npi}}</div>
      <address>{{provider.address}}</address>
    </div>


    <h3>Actions History</h3>
    <!-- Actions -->
    <div class="usa-grid dex-action-card" ng-repeat="action in provider.actions">
      <div class="usa-width-two-thirds" style="">
        <i class="gi gi-times" ng-show="action.actionName=='Terminate'"></i>
        <i class="gi gi-recycle" ng-show="action.actionName=='Reinstate'"></i>
        <i class="gi gi-times" ng-show="action.actionName=='Terminate (Recip.)'"></i>
        <i class="gi gi-recycle" ng-show="action.actionName=='Reinstate (Recip.)'"></i>
        <span class="usa-label-big">{{action.actionName}}</span>
        <div>{{action.source}}</div>
        <div>{{action.reason}} | {{action.date}}</div>
        <div>{{action.practiceAddress}}</div>
      </div>
      <div class="usa-width-one-third" style="text-align:center">
        <i class="gi gi-file-text" style="font-size:3em; "></i>
      </div>
    </div>
  </div>

  <!-- INVENTORY -->
  <div class="usa-width-one-third">
    <div class="usa-accordion">
      <ul class="usa-unstyled-list">
        <li>
          <button class="usa-button-unstyled" aria-expanded="true" aria-controls="collapsible-0">
            State Inventory Check
          </button>
          <div id="collapsible-0" aria-hidden="false" class="usa-accordion-content">
            <table class="usa-table-borderless dex-state-inventory-table">
              <thead>
                <tr>
                  <th scope="col">State</th>
                  <th scope="col">Found</th>
                  <th scope="col">No Match</th>
                  <th scope="col">Not Responded</th>
                </tr>
                <tr>
                  <th>TOTALS</th>
                  <th>2</th>
                  <th>30</th>
                  <th>28</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="state in usStates">
                  <th scope="row">{{state}}</th>
                  <td><i class="gi gi-check-square-o"></i></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
